body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 870px;
    height: 468px;
    border-radius: 35px;
    background: #EEAFC0;
}
section > header > img{
    width: 409px;
    height: 409px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
section > menu{
    display: flex;
    width: 301px;
    flex-direction: column;
    gap: 30px;
}
section > menu > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
section > menu > div > a{
    display: flex;
    width: 153px;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #fff;
    color: #D3517C;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section > menu > ul > li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    align-self: stretch;
}
section > menu > ul > li > input{
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
    align-self: stretch;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.71);
    color: #615C5C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section > menu > ul > li > a{
    display: flex;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #D3517C;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    display: flex;
    justify-content: right; 
    align-self:last baseline;
    height: 123px;
}
footer > img{
    width: 112px;
    height: 113px;
}

@media screen and (max-width:398px ) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EEAFC0;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        
  
    }
    section > header > img{
       display: none;
    }
    section > menu{
        display: flex;
        flex-direction: column;
      
    }
    section > menu > ul > li > input{
        margin-top: 10px;

    }
    footer{
        display: flex;
        justify-content: right; 
        align-items: center;
        background: rgba(250, 250, 250, 0.75);
        padding: 40px;
        min-width: 100%;
    }

}
@media screen and (max-width: 520px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        background-color: #EEAFC0;
    }
    section{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 185px;
  
    }
    section > header > img{
       display: none;
    }
    section > menu{
        max-width: 100%;
        display: flex;
        flex-direction: column;
      
    }
    section > menu > ul > li > input{
        margin-top: 10px;

    }
    footer{
        display: flex;
        justify-content: right; 
        align-items: center;
        background: rgba(250, 250, 250, 0.75);
        min-width: 100%;
        padding: 30px;
        margin-top: 10px;
        
    }

}