body{
    display: flex;
    flex-direction: column;
    background-color: #EEAFC0;
    justify-content:center;
}
header{
 display: flex;
 flex-direction: column;
 align-items: center;
}
header > h1{
    color: #850E35;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}
header > h2{
    color: #615C5C;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
   
}
section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
body> section > #calendario {
    display: none;
}
section > div > img{
    width: 307px;
    height: 280px;
}
section > div > a{
    display: flex;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: #D3517C;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 480px){
    section > div > img{
       display: none;
    }
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
      
    }
    section > div > a{
        margin-top: 40px;
    }
}

 

 